  <!--Image Box Start-->
                  <div class="col-md-4 col-sm-4">
                     <div class="gallery-img">
                        <a href="#" ><i class="fas fa-search"></i></a>
                        <img src="{% static 'front-end/images/gallery/sgall1.jpg' %}" alt="">
                     </div>
                  </div>
                  <!--Image Box End-->
                  <!--Image Box Start-->
                  <div class="col-md-4 col-sm-4">
                     <div class="gallery-img">
                        <a href="#"><i class="fas fa-search"></i></a>
                        <img src="{% static 'front-end/images/gallery/sgall2.jpg' %}" alt="">
                     </div>
                  </div>
                  <!--Image Box End-->
                  <!--Image Box Start-->
                  <div class="col-md-4 col-sm-4">
                     <div class="gallery-img">
                        <a href="#"><i class="fas fa-search"></i></a>
                        <img src="{% static 'front-end/images/gallery/sgall3.jpg' %}" alt="">
                     </div>
                  </div>
                  <!--Image Box End-->
                  <!--Image Box Start-->
                  <div class="col-md-4 col-sm-4">
                     <div class="gallery-img">
                        <a href="#"><i class="fas fa-search"></i></a>
                        <img src="{% static 'front-end/images/gallery/sgall4.jpg' %}" alt="">
                     </div>
                  </div>
                  <!--Image Box End-->
                  <!--Image Box Start-->
                  <div class="col-md-4 col-sm-4">
                     <div class="gallery-img">
                        <a href="#"><i class="fas fa-search"></i></a>
                        <img src="{% static 'front-end/images/gallery/sgall5.jpg' %}" alt="">
                     </div>
                  </div>
                  <!--Image Box End-->
                  <!--Image Box Start-->
                  <div class="col-md-4 col-sm-4">
                     <div class="gallery-img">
                        <a href="#"><i class="fas fa-search"></i></a>
                        <img src="{% static 'front-end/images/gallery/sgall6.jpg' %}" alt="">
                     </div>
                  </div>
                  <!--Image Box End-->
                  <!--Image Box Start-->
                  <div class="col-md-4 col-sm-4">
                     <div class="gallery-img">
                        <a href="#"><i class="fas fa-search"></i></a>
                        <img src="{% static 'front-end/images/gallery/sgall7.jpg' %}" alt="">
                     </div>
                  </div>
                  <!--Image Box End-->
                  <!--Image Box Start-->
                  <div class="col-md-4 col-sm-4">
                     <div class="gallery-img">
                        <a href="#"><i class="fas fa-search"></i></a>
                        <img src="{% static 'front-end/images/gallery/sgall8.jpg' %}" alt="">
                     </div>
                  </div>
                  <!--Image Box End-->